<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/content.css" />
    <title>Anime List</title>

    <style>
      header {
        margin: 3% 7%;
        background-color: #f8f4e1;
      }
      nav {
        margin: 0px;
        padding: 20px 20px;
      }
      nav > a {
        padding: 0% 4%;
      }
      a:active {
        color: blue;
      }

      table {
        margin: auto;
        border-collapse: collapse;
        width: 90%;
      }

      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: #f0f0f0;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>EntiVault</h1>
      <p>Discover, Organize, Keep Track</p>
    </header>
    <nav>
      |<a href="#" style="text-decoration: none; background-color: #af8f6f"
        >All Anime</a
      >
      |<a href="#" style="text-decoration: none">Currently Watching</a> |<a
        href="#"
        style="text-decoration: none"
        >Completed</a
      >
      |<a href="#" style="text-decoration: none">On Hold</a> |<a
        href="#"
        style="text-decoration: none"
        >Dropped</a
      >
      |<a href="#" style="text-decoration: none">Plan to Watch</a>|
    </nav>
    <div>
      <table>
        <thead>
          <tr>
            <th>IMAGE</th>
            <th>TITLE</th>
            <th>SCORE</th>
            <th>PROGRESS</th>
            <th>START DATE</th>
            <th>FINISH DATE</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% if(list.length !=0){ var i = 1; Array.from(list).forEach(list => {
          %>
          <tr>
            <td>
              <img src="../public/images/haikyuu.jpeg" />
            </td>
            <td><%= list.title %></td>
            <td><%= list.avg_rating %></td>
            <td><%= list.duration %></td>
            <td><%= list.episodes %></td>
            <td><%= list.episodes %></td>
            <td>
              <div class="w3-padding w3-xlarge">
                <a href=""><i class="fas fa-edit"></i></a>
                <a href=""><i class="fa fa-trash"></i></a>
              </div>
            </td>
          </tr>
          <% })}; %>
        </tbody>
      </table>
    </div>
  </body>
</html>
